body {
    font-family: 'Lato', sans-serif;

}
h1{
    margin-bottom: 40px;
}
label {
    color: #333;
}
.btn-send {
 left: 50%;
    top: 50%;
    margin-left: -25%;
    position: absolute;
    margin-top: -25%;
}
.form control {
 left: 50%;
    top: 50%;
    margin-left: -25%;
    position: absolute;
    margin-top: -25%;
}
#form group{
 left: 50%;
    top: 50%;
    margin-left: -25%;
    position: absolute;
    margin-top: -25%;
}
#controls{
 left: 50%;
    top: 50%;
    margin-left: -25%;
    position: absolute;
    margin-top: -25%;
}


