ul#yatay-menu {
list-style: none;
margin:0;
padding:0;
}
ul#yatay-menu li {
display: inline-block;
padding:0px;
margin:auto -2px;
}
ul#yatay-menu li a {
color: #000000;
display: inline-block;
font: 15px/100% Arial, Helvetica, sans-serif;
height: 50px;
line-height: 50px;
text-decoration: none;
vertical-align: middle;
padding: 0 10px;
background-color:#ffffff; 
}
ul#yatay-menu li a:hover{
color: #81a7c6;
background-color:#ffffff; 
}