ul#underbar-menu {
list-style: none;
margin:0;
padding:0;
}
ul#underbar-menu li {
display: inline-block;
padding:0px;
margin:auto -2px;
}
ul#underbar-menu li a {
color: #FFFFFF;
display: inline-block;
font: 12px/100% Arial, Helvetica, sans-serif;
height: 50px;
line-height: 50px;
text-decoration: none;
vertical-align: middle;
padding: 0 10px;
background-color:#022148; 
}
ul#underbar-menu li a:hover{
color: #FFFFFF;
background-color:#022148; 
}
 